@rendermode InteractiveServer
<div class="question-number">@CurrentQuestion.NumQuestion</div>
<h2 class="question-text">
    @CurrentQuestion.Libelle
</h2>
@foreach (Proposition item in Propositions)
{
    <div class="quiz-option">
        <span class="quiz-option-letter">@item.Letter</span>
        <button @onclick='()=>Choix(item)' class="btn btn-outline-secondary">@item.Reponse</button>
    </div>
}
 
 